@import "tailwindcss";
@source "../../**/*.{ts,tsx}";

@theme {
  --color-brand: #4f46e5; /* Indigo 600 */
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

/* Scrollbar fina para parecer sistema moderno */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full;
}
